.submitBtn {
  padding: 10px 20px;
  align-self: center;
  background-color: rgb(76, 186, 80);
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 5px 0px;
  cursor: pointer;
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    color 0.2s ease-in-out;
  margin-top: 10px;
  margin-bottom: 5px;
}

.submitBtn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.submitBtn:active {
  opacity: 0.8;
  transform: scale(1.1);
  color: black;
}
